@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family:´Roboto´, sans-serif;
    font-style: normal;
    background-color: #E6E6Ec;
}
header {
    display: inline-block;
    width: 1512px;
    height: 120px;
    margin: 0;
    padding: 0;
}
aside {
    float: left;
    width: 271px;
    height: 5800px;
}
nav {
    position: relative;
    width: 280px;
    height: 6000px;
    top: 129;
    left: 0;
    margin-left: -8px;
    display: inline-block;
    background-color: #373867;
}
/*footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    left: 0%;
    width: 1512px;
    height: 139px;
    background-color: #E6E6EC;
}*/
li {
    width: 80px;
    height: 40px;
    margin-top: 50px;
    margin-left: 60px;
    list-style: none;
    color: #E6E6EC;
}
a {
    font-weight: 800;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
h1,h2 {
    font-weight: 700px;
    font-size: 40px;
    line-height: 47px;
}
.logo-rr {
    width: 90.72px;
    height: 115px;
    top: 42px;
    left: 46px;
}
.title {
    width: 300px;
    margin-left: 650px;
    position: absolute;
}
.title h1 {
    width: 294px;
    height: 47px;
    left: 629px;
    top: 69px;
    color: #373867;
}
.menu {
    width: 66px;
    height: 27px;
    top: 200px;
    left: 100;
    font-weight: 800;
    line-height: 10px;
    text-align: center;
    font-size: 23px;
    color: #FFFFFF;
}
.title p {
    margin-top: -25px;
    margin-left: 100px;
    width: 126px;
    height: 16px;
    left: 255px;
    top: 118px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #373867;
}
.a-contact {
    margin-top: 290px;
    margin-left: 100px;
    width: 152px;
    height: 32.38px;
    left: 56.78px;
    top: 598px;
    font-weight: 800;
    font-size: 23.1293px;
    line-height: 27px;
    color: #FFFFFF;
}
.contact {
    width: 244px;
    height: 465px;
    top: 10px;
    margin-top: 0px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.conteiner1 {
    position: absolute;
    top:0;
    left:;
    display: inline-block;
    width: 1244px;
    height: 700px;
    top: 79px;
    background-image: url(/Assets/Images/img02.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
}
.conteiner1 h2 {
    float: center;
    margin-top: 220px;
    margin-left: 100px;
    width: 1030px;
    height: 70px;
    font-weight: 700px;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
}
.conteiner1 p {
    margin-left: 300px;
    width: 597px;
    height: 158px;
    font-weight: 400px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}



