@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family:´Roboto´, sans-serif;
    font-style: normal;
    background-color: #E6E6Ec;
}
header {
    display: inline-block;
    width: 1512px;
    height: 120px;
    margin: 0;
    padding: 0;
}
aside {
    float: left;
    width: 271px;
    height: 5800px;
}
nav {
    position: relative;
    width: 280px;
    height: 6000px;
    top: 129;
    left: 0;
    margin-left: -8px;
    display: inline-block;
    background-color: #373867;
}
footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    left: 0%;
    width: 1512px;
    height: 139px;
    margin-left: 687px;
    margin-bottom: -5275px;
    background-color: #E6E6EC;
}
li {
    width: 80px;
    height: 40px;
    margin-top: 50px;
    margin-left: 60px;
    list-style: none;
    color: #E6E6EC;
}
a {
    font-weight: 800;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
h1,h2 {
    font-weight: 700px;
    font-size: 40px;
    line-height: 47px;
}
.logo-rr {
    width: 90.72px;
    height: 115px;
    top: 42px;
    left: 46px;
}
.title {
    width: 300px;
    margin-left: 650px;
    position: absolute;
}
.title h1 {
    width: 294px;
    height: 47px;
    left: 629px;
    top: 69px;
    color: #373867;
}
.menu {
    width: 66px;
    height: 27px;
    top: 200px;
    left: 100;
    font-weight: 800;
    line-height: 10px;
    text-align: center;
    font-size: 23px;
    color: #FFFFFF;
}
.title p {
    margin-top: -25px;
    margin-left: 100px;
    width: 126px;
    height: 16px;
    left: 255px;
    top: 118px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #373867;
}
.a-contact {
    margin-top: 290px;
    margin-left: 100px;
    width: 152px;
    height: 32.38px;
    left: 56.78px;
    top: 598px;
    font-weight: 800;
    font-size: 23.1293px;
    line-height: 27px;
    color: #FFFFFF;
}
.contact {
    width: 244px;
    height: 465px;
    top: 10px;
    margin-top: 0px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.conteiner1 {
    position: absolute;
    top:0;
    left:;
    display: inline-block;
    width: 1244px;
    height: 700px;
    top: 79px;
    background-image: url(/Assets/Images/img02.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
}
.conteiner1 h2 {
    float: center;
    margin-top: 220px;
    margin-left: 100px;
    width: 1030px;
    height: 70px;
    font-weight: 700px;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
}
.conteiner1 p {
    margin-left: 300px;
    width: 597px;
    height: 158px;
    font-weight: 400px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.why-us {
    position: absolute;
    display: inline-block;
    width: 1244px;
    height: 700px;
    color: #373867;
}
.why-us img {
    float: right;
    width: 577px;
    height: 577px;
    top: 886px;
    left:888px;
    margin-top: 600px;
    margin-left: 300px;
}
.why-us h2 {
    width: 1030px;
    height: 70px;
    left: -290px;
    top: 650px;
    font-weight: 700px;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    position: absolute;
}
.why-us p {
    width: 600px;
    height: 70px;
    left: 50px;
    top: 730px;
    font-weight: 700px;
    font-size: 40px;
    line-height: 47px;
    position: absolute;
}
.activities {
    position: absolute;
    display: inline-block;
    width: 700px;
    height: 112px;
    left: 268px;
    top: 1509px;
    background-color: #373867;
}
.activities h2 {
    width: 700px;
    height: 112px;
    margin-top:0px;
    padding: 30px 80px;
    text-align: center;
    color:#FFFFFF;
}
.activities h3 {
    width: 400px;
    height: 40px;
    padding-top: 100px;
    padding-left: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #FFFFFF;
}
.activities p {
    width: 461px;
    height: 471px;
    padding-left: 10px;
    color: #FFFFFF;
    font-weight: 600px;
    font-size :40px;
    line-height: 47px;
    text-align: center;
}
.activities-crossfit {
    width: 461px;
    height: 471px;
    margin-top: 11px;
    margin-left: 156px;
    background-image: url(/Assets/Images/img04.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.spinning {
    width: 461px;
    height: 471px;
    margin-top: -512px;
    margin-left: 617px;
    background-image: url(/Assets/Images/img05.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.functional {
    width: 461px;
    height: 471px;
    margin-top: -39px;
    margin-left: 156px;
    text-align: center;
    background-image: url(/Assets/Images/img06.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.boxing {
    width: 461px;
    height: 471px;
    margin-top: -510px;
    margin-left: 617px;
    background-image: url(/Assets/Images/img07.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.weightt {
    width: 461px;
    height: 471px;
    margin-top: -40px;
    margin-left: 156px;
    background-image: url(/Assets/Images/img08.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.memberships {
    position: absolute;
    display: inline-block;
    width: 700px;
    height: 112px;
    margin-top: 3270px;
    left: 268px;
    background-color: #373867;
}
.memberships h2 {
    width: 700px;
    height: 112px;
    padding: 30px 30px;
    margin-top:5px;
    text-align: center;
    color:#FFFFFF;
}
.mem01{
    height: 300px;
    width: 300px;
    margin-left: 26px;
}
.mem01 img{
    margin-left: 10px;
    float: center;
    width: 395px;
    height: 402px;
    color: #FFFFFF;
}
.mem01 h3{
    width: 237px;
    height:  71px;
    padding-left: 85px;
    font-weight: 700px;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #373867;
}
.memb01 p{
    margin-left: 500px;
    font-weight:400px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color:#373867;
    }
    
.memb-only button {
    width: 395px;
    height: 72px;
    margin-top: 66px;
    margin-left: -5px;
    font-weight: 700;
    font-size: 30.596px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: #49A373;
}
.mem02{
    height: 300px;
    width: 300px;
    margin-left: 400px;
    margin-top: -355px;
}
.mem02 img{
    margin-left: 23px;
    margin-top: 55px;
    float: center;
    width: 395px;
    height: 402px;
    color: #FFFFFF;
}
.mem02 h3{
    width: 237px;
    height:  71px;
    padding-left: 85px;
    font-weight: 700px;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #373867;
}
.memb02 p{
    margin-left: 500px;
    font-weight:400px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color:#373867;
    }
    
.memb-classic button {
    width: 395px;
    height: 72px;
    margin-top: 13px;
    margin-left: 20px;
    font-weight: 700;
    font-size: 30.596px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: #49A373;
}
.mem03{
    height: 300px;
    width: 300px;
    margin-top: -243px;
    margin-left: 791px;
}
.mem03 img{
    margin-left: 30px;
    float: center;
    width: 395px;
    height: 402px;
    color: #FFFFFF;
}
.mem03 h3{
    width: 237px;
    height:  71px;
    padding-left: 85px;
    font-weight: 700px;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #373867;
}
.memb03 p {
    margin-left: 500px;
    font-weight:400px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color:#373867;
    }
.memb-black {
    margin-top: -18px;
    margin-left: 17px;
}
.memb-black button {
    width: 395px;
    height: 72px;
    margin-top: -5px;
    margin-left: 13px;
    font-weight: 700;
    font-size: 30.596px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: #49A373;
}
.universe {
    position: absolute;
    display: inline-block;
    width: 1244px;
    height: 700px;
    margin-top: 4400px;
    margin-left: 0px; 
    background-color: #AACE9B;
}
.universe h3 {
    width: 495.3px;
    height: 153px;
    margin-top: 150px;
    margin-left: 130px;
    color: #FFFFFF;
    font-weight: 700px;
    font-size: 65px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    }
.universe h4 {
    height: 179.59px;
    margin-left: 130px;
    margin-top: -40px;
    font-weight: 400px;
    font-size: 32.8016px;
    line-height: 38px;
    color: #FFFFFF;
    text-align:left;       
}       
.universe p {
    width: 400px;
    height: 100px;
    margin-left: 130px;
    margin-top: -160px;
    font-weight: 400;
    font-size: 32.8016px;
    font-size: 33px;
    line-height: 38px;
    color:#FFFFFF;
    text-align: left;
}
.universe img {
    float: right;
    width: 326.38px;
    height: 326.38px;
    margin-top: -350px;
    margin-right: 150px;
}
.form {
    position:absolute;
    margin-left: 600px;
    margin-top: 5150px;
    width: 665px;
    height: 694px;
    border: 2px solid #373867;
    background-color: #FFFFFF;
    align-items: center;
}
.form h5 {
    width: 330px;
    height: 38px;
    margin-left: 150px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align:center;
    color:#373867;
}
.option1 {
    display: inline-block;
    width: 200px;
    height: 20px;
    margin-left: 50px;
    padding: 5px 10px 2px 10px;
    border: 1px solid #373867;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color:#373867;

}
.option2 {
    display: inline-block;
    width: 200px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px 2px 10px;
    margin-left: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color:#373867;
    text-align: left;

}

.option3 {
    width: 400px;
    height: 20px;
    margin-top: 20px;
    margin-left: -50px;
    padding: 5px 10px 2px 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px 2px 10px;
    margin-left: 150px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color:#373867;
}
.ph-name {
    display: inline-block;
    width: 193px;
    height: 37px;
    padding:5px 10px;
    margin-top: 60px;
    margin-left: 160px;
    padding:5px 5px;
    border-radius: 5px;
    color: #AACE9B;
    
}
.ph-surname {
    width: 201px;
    height: 37px;
    padding:5px 10px;
    margin-top: -47px;
    margin-left: 300px;
    padding:5px 10px;
    padding-left: 40px;
    border-radius: 5px;
}
.ph-email {
    width: 433px;
    height: 200px;
    margin-top: -10px;
    margin-left: 200px;
    padding:5px 10px;
    border-left: 200px;
    border-top: 200px;
    margin-left: 200px;
    border-radius: 5px;
    border-color: #373867;
}
.op {
    margin-top: -170px;
    padding-left: 80px;

}
.submitbot {
    width: 156px;
    height: 35px;
    margin-top: 30px;
    margin-left: 250px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    font-weight: 500px;
    font-size: 13px;
    line-height: 15px;
    color:#373867;
    background-color: #AACE9B;
}
.form {
    position:absolute;
    margin-left: 600px;
    margin-top: 5150px;
    width: 665px;
    height: 694px;
    border: 2px solid #373867;
    background-color: #FFFFFF;
    align-items: center;
}
.form h5 {
    width: 330px;
    height: 38px;
    margin-left: 150px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align:center;
    color:#373867;
}
.option1 {
    display: inline-block;
    width: 200px;
    height: 20px;
    margin-left: 50px;
    padding: 5px 10px 2px 10px;
    border: 1px solid #373867;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color:#373867;

}
.option2 {
    display: inline-block;
    width: 200px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px 2px 10px;
    margin-left: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color:#373867;
    text-align: left;

}

.option3 {
    width: 400px;
    height: 20px;
    margin-top: 20px;
    margin-left: -50px;
    padding: 5px 10px 2px 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px 2px 10px;
    margin-left: 150px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color:#373867;
}
.ph-name {
    display: inline-block;
    width: 193px;
    height: 37px;
    padding:5px 10px;
    margin-top: 60px;
    margin-left: 160px;
    padding:5px 5px;
    border-radius: 5px;
    color: #AACE9B;
    
}
.ph-surname {
    width: 201px;
    height: 37px;
    padding:5px 10px;
    margin-top: -47px;
    margin-left: 300px;
    padding:5px 10px;
    padding-left: 40px;
    border-radius: 5px;
}
.ph-email {
    width: 433px;
    height: 200px;
    margin-top: -10px;
    margin-left: 200px;
    padding:5px 10px;
    border-left: 200px;
    border-top: 200px;
    margin-left: 200px;
    border-radius: 5px;
    border-color: #373867;
}
.op {
    margin-top: -170px;
    padding-left: 80px;

}
.submitbot {
    width: 156px;
    height: 35px;
    margin-top: 30px;
    margin-left: 250px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    font-weight: 500px;
    font-size: 13px;
    line-height: 15px;
    color:#373867;
    background-color: #AACE9B;
}
.logos {
margin-top: 10px;

}
.footer p {
    position: absolute;
    width: 315px;
    height: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}


    





