<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Best Gym-Login</title>
</head>
<body>
    <header>
        <div class="header-title">
            <h1 class="title">the best gym</h1>
            <p class="subtitle">mega rocket s.a</p>
        </div>
    </header>
    <main>
        <aside class="menu">
            <div class="header-logo">
                <img class="logo-rr" src="../Assets/Images/img01.png" alt="Radium Rocket Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="./login.html"><h2>Log-in</h2></a></li>
                    <li><a href="./sign-up.html"><h2>Sign-up</h2></a></li>
                    <li><a href="./index.html"><h2>Home</h2></a></li>
                </ul>
            </nav>
        </aside>
        <section class="loginPage">
            <h2 class="login-title">LOG-IN</h2>
                <form class="form"  action="" name="logIn" autocomplete="on">
                    <div class="placeholders">
                        <div class="phLog">
                           <input class="input-text" type="text" name="email" value="Email">
                        </div>
                        <div class="phLog">
                            <input class="input-text" type="text" name="password" value="password">
                        </div>
                    </div>
                    <input class="input-log" type="checkbox" name="select-form1" value="option">
                    <label for="form-info"> Remember me </label>
                    <a href="#"><p>Forgot your password?</p></a></li>
                    <input class="submit-bottom" type="submit" value="Continue">
                </form>
        </section>
    </main>
</body>
</html>