<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Best Gym-Login</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">

    <link rel="stylesheet" href="../css/login.css">

</head>
<body>
    <header>
        <div class="header-logo">
            <img class="logo-rr" src="../../Assets/Images/img01.png" alt="Radium Rocket Logo">
        </div>
        <div class="header-title">
            <h1 class="title">the best gym</h1>
            <p class="subtitle">mega rocket s.a</p>
        </div>
    </header>
    <main>
        <aside class="menu">
            <nav>
                <ul>
                    <li><a href="./login.html"><h2>Log-in</h2></a></li>
                    <li><a href="./sign-up.html"><h2>Sign-up</h2></a></li>
                    <li><a href="./index.html"><h2>Home</h2></a></li>
                </ul>
            </nav>
        </aside>
        <section class="loginPage">
            <h2>LOG-IN</h2>
                <form id="form" class="form">
                        <div class="form-child">
                            <label for="">Email</label>
                            <input id="input-Email" class="input-child" type="email" placeholder="example@example.com">
                            <p id="email-error" class="none" >Invalid email format</p>
                            <span id="emailOK"></span>
                        </div>

                        <div class="form-child">
                            <label for="">Password</label>
                            <input id="input-password" class="input-child" type="password" placeholder="Password">
                            <span id="passwordOk"></span>
                        </div>

                        <div class="form-child-check">
                            <div class="check-conteiner">
                                <input type="checkbox" name="Contact area">
                                <label>Remember me</label>
                            </div>
                            <a href="#">Forgot your password?</a>
                        </div>

                        <div>
                            <button id="login" type="submit" value="Continue"> Continue </button>
                        </div>
                        <span id="dataSend" class="dataSend"></span>
                </form>
        </section>
    </main>
    <script src="../js/login.js"></script>
</body>
</html>