<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Best Gym-SignUp</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/sign-up.css">

</head>
<body>
    <header>
        <div class="header-title">
            <div class="header-logo">
                <img class="logo-rr" src="../../Assets/Images/img01.png" alt="Radium Rocket Logo">
            </div>
            <h1 class="title">the best gym</h1>
            <p class="subtitle">mega rocket s.a</p>
        </div>
    </header>
    <main>
        <aside class="menu">
            <nav>
                <ul>
                    <li><a href="./login.html"><h2>Log-in</h2></a></li>
                    <li><a href="./sign-up.html"><h2>Sign-up</h2></a></li>
                    <li><a href="./index.html"><h2>Home</h2></a></li>
                </ul>
            </nav>
        </aside>
        <section class="signUpPage">
            <h2 class="h2">Sign Up</h2>
            <form id="form-conteiner" class="form">
                <div class="form-child">
                    <label class="form-label" for="">Name</label>
                    <input id="input-name" class="input-child" type="text" placeholder="Name" name="name">
                    <span id="name-error" class="error">Letters only and must be more than 3 letters</span>
                </div>

                <div class="form-child">
                    <label class="form-label" for="">Surname</label>
                    <input id="input-surname"class="input-child" type="text" placeholder="Surname" name="surname">
                    <span id="surname-error" class="error">Letters only and must be more than 3 letters</span>
                </div>

                <div class="form-child">
                    <label class="form-label" for="">ID</label>
                    <input id="input-id"class="input-child" type="number" placeholder="ID" name="ID">
                    <span id="ID-error" class="error">Must have more than 7 numbers</span>
                </div>

                <div class="form-child">
                    <label class="form-label" for="">Date</label>
                    <input id="input-date"class="input-child" type="date" placeholder="Birth Date" name="date">
                </div>


                <div class="form-child">
                    <label class="form-label" for="">Phone</label>
                    <input id="input-phone"class="input-child" type="number" placeholder="Phone" name="phone">
                    <span id="phone-error" class="error">Must have 10 numbers</span>
                </div>

                <div class="form-child">
                    <label class="form-label" for="">Address</label>
                    <input id="input-address"class="input-child" type="text" placeholder="Address" name="address">
                    <span id="address" class="error">At least 5 characters with letters, numbers and a space in between</span>
                </div>

                <div class="form-child">
                    <label class="form-label" for="">Locality</label>
                    <input id="input-locality"class="input-child" type="text" placeholder="Locality" name="locality">
                    <span id="locality-error" class="error">Alphanumeric text and must have more than 3 letters</span>
                </div>

                <div class="form-child">
                    <label class="form-label" for="">Postal Code</label>
                    <input id="input-postalCode" class="input-child" type="number" placeholder="Postal Code" name="postalCode">
                    <span id="postalCode-error" class="error">Must have between 4 and 5 numbers</span>
                </div>

                <div class="form-child">
                    <label class="form-label" for="">Password</label>
                    <input id="input-password" class="input-child" type="password" placeholder="Password" name="password">
                    <span id="password-error" class="error">At least 8 characters, consisting of letters and numbers</span>
                </div>

                <div class="form-child">
                    <label class="form-label" for="">Repeat Password</label>
                    <input id="input-password2" class="input-child" type="password" placeholder="Password" name="password2">
                    <span id="password2-error" class="error">At least 8 characters, consisting of letters and numbers</span>
                </div>

                <div id="mail" class="form-child">
                    <label class="form-label" for="">Email</label>
                    <input id="input-email" class="input-child" type="email" placeholder="Email" name="email">
                    <span id="email-error" class="error">Must have a valid email format</span>

                    <div class="submit">
                        <input id="sign-up" type="submit" value="CREATE">
                    </div>
                    <span id="dataSend" class="dataSend"></span>
                </div>
            </form>
        </section>
    </main>
    <script src="../js/sign-up.js"></script>
</body>
</html>