<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Best Gym-SignUp</title>
</head>
<body>
    <header>
        <div class="header-title">
            <h1 class="title">the best gym</h1>
            <p class="subtitle">mega rocket s.a</p>
        </div>
    </header>
    <main>
        <aside class="menu">
            <div class="header-logo">
                <img class="logo-rr" src="../../Assets/Images/img01.png" alt="Radium Rocket Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="./login.html"><h2>Log-in</h2></a></li>
                    <li><a href="./sign-up.html"><h2>Sign-up</h2></a></li>
                    <li><a href="./index.html"><h2>Home</h2></a></li>
                </ul>
            </nav>
        </aside>
        <section class="signUpPage">
            <h2 class="signUp-title">Create Account</h2>
                <form class="form"  action="" name="form-info" autocomplete="on">
                    <div class="placeholders">
                        <div class="phSign">
                            <label><p>Name</p></label>
                            <input class="input-text" type="text" name="name">
                        </div>
                        <div class="phSign">
                            <label><p>Last name</p></label>
                            <input class="input-text" type="text" name="Last name">
                        </div>
                        <div class="phSign">
                            <label><p>ID Number</p></label>
                            <input class="input-text" type="text" name="id">
                        </div>
                        <div class="phSign">
                            <label><p>Birth date</p></label>
                            <input class="input-text" type="date" name="Birth date">
                        </div>
                        <div class="phSign">
                            <label><p>Phone</p></label>
                            <input class="input-text" type="text" name="phone">
                        </div>
                        <div class="phSign">
                            <label><p>Adress</p></label>
                            <input class="input-text" type="text" name="adress">
                        </div>
                        <div class="phSign">
                            <label><p>Location</p></label>
                            <input class="input-text" type="text" name="location">
                        </div>
                        <div class="phSign">
                            <label><p>Postal Code</p></label>
                            <input class="input-text" type="text" name="postal code">
                        </div>
                        <div class="phSign">
                            <label><p>Email</p></label>
                            <input class="input-text" type="text" name="email">
                        </div>
                        <div class="phSign">
                            <label><p> Password</p></label>
                            <input class="input-text" type="password" name="password">
                        </div>
                        <div class="phSign">
                            <label><p>Repeat Password</p></label>
                            <input class="input-text" type="password" name="repeatpassword">
                        </div>
                    </div>
                    <input class="submit-bottom" type="submit" value="Sign Up">
                </form>
        </section>
    </main>
</body>
</html>