@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@media (min-width: 390px) and (max-width: 600px){
*{
    width: 100%;
    height: auto;

}

aside {

    display: none;
    float: left;
    width: 271px;
    height: 5800px;
}

nav {
    display: none;
    position: relative;
    width: 280px;
    height: 6000px;
    top: 129;
    left: 0;
    margin-left: -8px;
    background-color: #373867;
}

.us {
    display: flex;
    height: 245px;
    width: 100%;
    background-image: url(/Assets/Images/img02.png);
    background-size: cover;
    background-position: 30%;
}

.us-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-style: normal;
    padding-left: 32px;
    padding-right: 32px;
    color: white;

}

.us-text h2 {
    font-weight: 700;
    font-size: 19.0413px;
    line-height: 22px;
    white-space: nowrap;
    text-transform: uppercase;
}

.us-text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
}

.why-us {
    height: 245px;
    width: auto;
    flex-direction: column;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-style: normal;
    padding-left: 32px;
    padding-right: 32px;
    color: #373867;
    background: #ECE9F1;
}

.why-us img {
    display:none;
} 

.why-us h2 {
    font-weight: 700;
    font-size: 19.0413px;
    line-height: 22px;
    white-space: nowrap;
    text-transform: uppercase;
}

.why-us p {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
}

.activities {
    width: auto;
    height: auto;
    background-color:#ECE9F1;
    color: white;
    font-family: 'Roboto';
    text-align: center;
}

.activities-logo {
    width:  318px;
    height: 46px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    padding-top: 14px;
    background-color: #373867;
}

.activities-pics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activities-text {
    display: flex;
    flex-direction: column;
    padding-top: 30%;
}
.activities-pics h3 {
    text-transform: uppercase;
}

.activities-crossfit {
    width: 269px;
    height: 270px;
    background-image: url(/Assets/Images/img04.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.activities-spinning {
    width: 269px;
    height: 270px;
    background-image: url(/Assets/Images/img05.png);
    background-size: cover;
    background-repeat: no-repeat;
}

 .activities-functional {
    width: 269px;
    height: 270px;
    text-align: center;
    background-image: url(/Assets/Images/img06.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.activities-boxing {
    width: 269px;
    height: 270px;
    background-image: url(/Assets/Images/img07.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.activities-weightt {
    width: 269px;
    height: 270px;
    background-image: url(/Assets/Images/img08.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.memberships {
    width: auto;
    height: auto;
    background-color:#ECE9F1;
    color: white;
    font-family: 'Roboto';
    text-align: center;
}

.memberships-logo {
    width:  318px;
    height: 46px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    padding-top: 14px;
    background-color: #373867;
}

.memb-box {
    position: relative;
    width: 80%;
    margin: -12% 10% 10% 10%;
    background-color: #FFFFFF;
    border-top: 40px solid #979797;
    border-radius: 5px;
}

.memberships h3 {
    font-weight: 700px;
    font-size: 30px;
    line-height: 35px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    text-transform: uppercase;
    color: #373867;
}

.memberships ul {
    font-weight:400px;
    font-size: 15px;
    line-height: 18px;
    text-align: left;
    margin-left: 15%;
    list-style-type: square;
    text-decoration: dotted;
    color:#373867;
}

.memberships p {
    font-weight:400px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin-top: 10%;
    color:#373867 40%;
}
    
.memberships button {
    width: 325px;
    height: 72px;
    font-weight: 700;
    font-size: 30.596px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: #49A373;
}

.universe {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    text-align: center;
    background-color: #AACE9B;
    padding-top: 15px;
    padding-bottom: 15px;
}

.universe h3 {
    font-weight: 600px;
    font-size: 60px;
    line-height: 7px;
    text-align: left;
    margin-top: 10%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.universe h4 {
    font-weight: 400px;
    font-size: 32.8016px;
    line-height: 38px;
    text-align:left;
    margin-top: 10%;
    text-transform: uppercase;
    color: #FFFFFF;
}       

.universe p {
    margin-top: 2%;
    font-weight: 400;
    font-size: 20px;
    font-size: 33px;
    line-height: 38px;
    color:#FFFFFF;
    text-align: left;
}

.universe img {
    width: 108px;
    height: 104px;
    margin-top: 16%;
}

.universe-reservation {
    padding-left: 10%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    width: 80%;
    margin: 5%;
    margin-left: 43px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.form-title {
    color: #373867;
    font-weight: 500px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-top: 10%;
}

.select-form {
    display: flex;
    align-items: center;
    width: 94%;
    font-size: small;
    line-height: 9px;
    color: #373867;
    border: 1px solid #373867;
    border-radius: 5px;
    padding: 4px;
    margin-top: 9px;
    margin-bottom: 5px;
}

.select-form label {
    margin-left: 3px;
}

.placeholders {
    width: 96%;
}

.ph-name, ph-surname {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    color: #373867;
    opacity: 0.5;
}

.ph-email {
    display: flex;
    border-radius: 5px;
    color: #373867;
    opacity: 0.5;
}

.ph input {
    width: 100%;
    margin: 10px;
    padding: 5px;
}

.opinion p {
    width: 15px;
}

textarea {
    width: 96%;
    margin-left: 1%;
}

.submit-bottom {
    margin: 4px -5px;
    padding: 8px 18px;
    border-radius: 5px;
    background-color: #AACE9B;
    color:#373867;
    font-size: 13px;
}

}